version: "3.3"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      CONSUMER_KEY: ""
      CONSUMER_SECRET: ""
      ACCESS_TOKEN: ""
      ACCESS_TOKEN_SECRET: ""
      BEARER_TOKEN: ""
    restart: always
